<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> 

                    </li>
                    <li style="width:150px"> <br /><font color="white">Ваши очки:</font> <font id="PlayerScore" color="white" width="50px">         </font></li>
                    @* <li style="width:150px"><br /><font color="white">Очки противника: </font><font id="EnemyScore" color="white"> @WebApplication1.Controllers.GamerController.game.RNG.Score         </font> </li> *@
                    <li style="width:150px"><br /><font color="white">Оставшееся время: </font><font id="time" color="white">    </font><font color="white">мин </font></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.BeginForm("LeaveGame", "Gamer", FormMethod.Post)
        {
            <button type="submit">Отказаться от игры</button>
        }
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>


