<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Перестрелка", "Main", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <p>
                    <ul class="nav navbar-nav">
                        @if ( WebApplication1.Controllers.HomeController.UserIsAdmin(User))
                        {
                            <li><div style=" padding-right: 30px; padding-left: 30px;">@Html.ActionLink("Добавление задач", "AddTask", "Admin")</div></li>
                            <li><div style=" padding-right: 30px; padding-left: 30px;">@Html.ActionLink("Список задач системы", "TaskList", "Admin")</div></li>
                            <li> <div style=" padding-right: 30px; padding-left: 30px;">@Html.ActionLink("Добавление игр", "AddGame", "Admin")</div> </li>
                        }
                        <li><div style=" padding-right: 30px; padding-left: 30px;">@Html.ActionLink("Игры", "Main", "Home")</div></li>

                        @if (WebApplication1.Controllers.HomeController.UserIsPlayer(User) || WebApplication1.Controllers.HomeController.UserIsAdmin(User))
                            {
                            <li><div style=" padding-right: 30px; padding-left: 30px;"><a href="/Home/Login">@User.Identity.Name</a></div></li>
                        }
                        else
                        {
                            <li>
                                <div style=" padding-right: 30px; padding-left: 30px;"><a href="/Home/Login"> Войти в систему</a></div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Выход", "LogOut", "Home")
                            </li>
                        }
                        else
                        {
                        <li>
                                @Html.ActionLink("Регистрация", "Register", "Home")
                        </li>
                        }
                        @if (WebApplication1.Controllers.HomeController.UserIsAdmin(User))
                        {
                        <li style="padding-left:30px">
                            <font color="black">Вид Администратора </font>
                            </li>
                        }
                    </ul>
                </p>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
