@model WebApplication1.GamerViewModels.ResultsModel
@{
    ViewBag.Title = "Results";
}
<h1>Информация о прошедшей игре</h1>
<p> Название игры: @Model.game.Name</p>
<p> Время начала: @Model.game.StartData</p>
<p> Длительность:@Model.game.Lenga мин</p>
<p> Количество задач: @Model.game.TasksAmount</p>
<tabbox>
    <tabs>
    @foreach (Teams team in Model.game.Teams)
    {
        <tab label="@team.Name" />
    }
    </tabs>
    @foreach(Teams team in Model.game.Teams)
    {
        <tabpanel>
        <p>Название команды: @team.Name</p>
        <p>Количество выстрелов по ответам команды: @team.ShotsAmount</p>
        <p>Попаданий выстрелов: @team.Hits</p>
        <p>Промахов выстрелов @team.Misses</p>
        <p>Ошибочно решенных задач: @team.MistakedTasks</p>
        <p>Правильно решенных задач: @team.SolvedTasks</p>
        <p>Очков набрано :@team.Score</p>
        <p>Членов команды: @team.UsersAmount</p>
        <ul>
                @foreach (Sent_Answers answer in team.Answers)
                {
                    <li>
                        Отправленный ответ: @answer.Answer
                        @if (answer.Correctness)
                        {
                            <p>Правильный ответ</p>
                        }
                        else
                        {
                            <p>Неправильный ответ</p>
                        }
                        Отправил пользователь: @answer.UserLogin
                        Время и дата отправки: @answer.SentTime

                        @if (@answer.Shot.isSuccessful)
                            {
                                <p>Успешное попадание</p>
                            }
                            else
                            {
                                <p>Промах</p>
                            }
                        Название окманды цели выстрела: @answer.Shot.TargetTeam.Name
                        
                        
                    </li>
                }
        </ul>
        </tabpanel>
    }
</tabbox>
@using (Html.BeginForm("Main", "Home"))
{ <button type="submit" value="Вернуться на главную" />}


