@model Teams
<h1>Команда @Model.Name</h1>

@if (@WebApplication1.Controllers.GamerController.TeamIncludesUser(User,Model))
{
    @using (Html.BeginForm("LeaveTeam", "Gamer", FormMethod.Post))
    {
        @Html.Hidden("TeamID", Model.ID)
        <input type="submit" value="Отсоединиться от команды" />
    }
}
else
{
    @using (Html.BeginForm("JoinTeam", "Gamer", FormMethod.Post))
    {
        @Html.Hidden("TeamID", Model.ID)
        <input type="submit" value="Присоединиться к команде" />
    }
}
<table>
    <thead>
        <tr>
            <th> Логин</th>
            <th> ФИО</th>
            <th> Класс</th>
        </tr>
    </thead>
@foreach (Users user in Model.Users)
{
    <tr>
        <td>@user.Login </td>
        <td>@user.Name @user.Surname @user.Fatname </td>
        <td>@user.Class </td>
    </tr>
}
</table>