@model List<Tasks>

@{
    ViewBag.Title = "GameMake";
}
<h2>Создание игры</h2>
<div >
    @using (@Html.BeginForm("CreateGameClick", "Admin", FormMethod.Post))
    {
        <input id="Name" name="Name" placeholder="Название игры" type="text" autocomplete="on">

        <br />
        <div>Дата проведения</div>
        <input name=StartDate data-val="true" data-val-date="Поле StartData должно содержать дату." data-val-required="Требуется поле StartData."
               id="StartDate"  placeholder="Дата проведения" type="date" autocomplete="on" value=@DateTime.Now><br />
        <div>Длительность (мин)</div>

        <input id="Lenga" name="Lenga" value="0" placeholder="Длительность" type="number" autocomplete="on">
        <p>
            Время начала
            <input type="time" id="StartTime" name="StartTime" autocomplete="on">
        </p>
        <button type="submit">Создать игру</button>
        <button type="submit" formaction="/Admin/CancelMakeGame" value="Cancel">Отмена</button>
        <font color="red"><p>@ViewBag.Message</p></font>
        <font color="green"><p>@ViewBag.Message2</p></font>



    @if (Model.Count() > 0)
    {
    <ul>
            @foreach (WebApplication1.Models.Tasks task in Model)
            {
            <li>
                <div>Текст задачи: @task.Text</div>
                <br />
                <div>Ответ:@task.Answer</div>
                <br />
                <input type="checkbox" id="tasks" name="tasks" value="@task.ID"  > Выбрать
            </li>
            }

    </ul>
    }
    else
    {
    <p>Задач в системе нет</p>
    }
}
</div>

